In [1]:
import json
import pandas as pd
import numpy as np
import csv
import os

from sqlalchemy import create_engine
from config import db_password

In [2]:
file_dir='Class/'

In [3]:
with open(f'{file_dir}wikipedia-movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [6]:
len(wiki_movies_raw)

7311

In [16]:
 wiki_movies_raw_df=pd.DataFrame( wiki_movies_raw)

In [17]:
wiki_movies_raw_df.shape

(7311, 193)

In [18]:
wiki_movies=[movie for movie in  wiki_movies_raw if ( 'Director' in movie or 'Directed by' in movie) 
             and 'imdb_link' in movie and 'No. of episodes' not in movie]

In [19]:
len(wiki_movies)

7076

In [20]:
wiki_movies_df=pd.DataFrame(wiki_movies)

In [21]:
wiki_movies_df.shape

(7076, 75)

In [87]:
x ={"A":[1,2,3], "B":[4,2,3]}
def append_four(x):
    pd.DataFrame(x)
    print(x)

In [88]:
z=append_four(x)

{'A': [1, 2, 3], 'B': [4, 2, 3]}

In [89]:
print(z)

None

In [96]:
def create_df(x):
    x = {"A":[1,2,3], "B":[4,2,3]}
    df = pd.DataFrame(x)
    return df

In [97]:
create_df(x)

   A  B
0  1  4
1  2  2
2  3  3

In [99]:
y={"A":[1,2,3]}

In [100]:
create_df(y)

   A  B
0  1  4
1  2  2
2  3  3

In [105]:
def dataframe(x):
    x={}
    df=pd.DataFrame(x)
    for i in x:
        df.append(x)
    return df

In [106]:
dataframe(x)

Empty DataFrame
Columns: []
Index: []

In [107]:
y={"C":[1,2,3], "D":[4,2,3]}

In [108]:
dataframe(y)

Empty DataFrame
Columns: []
Index: []

In [109]:
sorted(wiki_movies_df.columns.tolist())

['Adaptation by',
 'Also known as',
 'Animation by',
 'Arabic',
 'Audio format',
 'Based on',
 'Box office',
 'Budget',
 'Cantonese',
 'Chinese',
 'Cinematography',
 'Color process',
 'Composer(s)',
 'Country',
 'Country of origin',
 'Created by',
 'Directed by',
 'Director',
 'Distributed by',
 'Distributor',
 'Edited by',
 'Editor(s)',
 'Executive producer(s)',
 'Followed by',
 'French',
 'Genre',
 'Hangul',
 'Hebrew',
 'Hepburn',
 'Japanese',
 'Label',
 'Language',
 'Length',
 'Literally',
 'Mandarin',
 'McCune–Reischauer',
 'Music by',
 'Narrated by',
 'Original language(s)',
 'Original network',
 'Original release',
 'Original title',
 'Picture format',
 'Polish',
 'Preceded by',
 'Produced by',
 'Producer',
 'Producer(s)',
 'Production company(s)',
 'Production location(s)',
 'Productioncompanies ',
 'Productioncompany ',
 'Recorded',
 'Release date',
 'Released',
 'Revised Romanization',
 'Romanized',
 'Running time',
 'Russian',
 'Screen story by',
 'Screenplay by',
 'Simplified',
 'Starring',
 'Story by',
 'Suggested by',
 'Theme music composer',
 'Traditional',
 'Venue',
 'Voices of',
 'Written by',
 'Yiddish',
 'imdb_link',
 'title',
 'url',
 'year']

In [110]:
y={"C":[1,2,3], "D":[4,2,3]}

In [111]:
y.pop("C")

[1, 2, 3]

In [112]:
y

{'D': [4, 2, 3]}

In [113]:
y.pop("D")

[4, 2, 3]

In [114]:
y

{}

In [115]:
y={"C":[1,2,3], "D":[4,2,3]}

In [118]:
wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie)
                   and 'imdb_link' in movie]
len(wiki_movies)

7080

In [122]:
wiki_movies = [movie for movie in wiki_movies_raw if ('Director' in movie or 'Directed by' in movie)
               and 'imdb_link' in movie and 'No. of episodes' not in movie]
                 
len(wiki_movies)

7076

In [136]:
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles={}
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            
            
            
            alt_titles[key]=movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles
    # merge column names
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')
            
    return movie

In [138]:
clean_movies = [clean_movie(movie) for movie in wiki_movies]

In [139]:
wiki_movies_df = pd.DataFrame(clean_movies)
sorted(wiki_movies_df.columns.tolist())

['Animation by',
 'Audio format',
 'Based on',
 'Box office',
 'Budget',
 'Cinematography',
 'Color process',
 'Composer(s)',
 'Country',
 'Created by',
 'Director',
 'Distributor',
 'Editor(s)',
 'Executive producer(s)',
 'Followed by',
 'Genre',
 'Label',
 'Language',
 'Narrated by',
 'Original language(s)',
 'Original network',
 'Picture format',
 'Preceded by',
 'Producer(s)',
 'Production company(s)',
 'Production location(s)',
 'Recorded',
 'Release date',
 'Running time',
 'Starring',
 'Suggested by',
 'Venue',
 'Voices of',
 'Writer(s)',
 'alt_titles',
 'imdb_link',
 'title',
 'url',
 'year']

In [140]:
y={"C":[1,2,3], "D":[4,2,3]}

y["sied"] = y.pop("C")
y["nebil"] = y.pop("D")

In [141]:
y

{'sied': [1, 2, 3], 'nebil': [4, 2, 3]}

In [146]:
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')

In [156]:
y={"C":[1,2,3,8,12,13,18], "D":[4,2,3,99,0,89,100], "E":[1,2,3,4,4,5,6]}

In [157]:
df=pd.DataFrame(y)
df

    C    D  E
0   1    4  1
1   2    2  2
2   3    3  3
3   8   99  4
4  12    0  4
5  13   89  5
6  18  100  6

In [158]:
df.dtypes

C    int64
D    int64
E    int64
dtype: object

In [159]:
df.drop_duplicates(subset='E', inplace=False)

    C    D  E
0   1    4  1
1   2    2  2
2   3    3  3
3   8   99  4
5  13   89  5
6  18  100  6

In [160]:
df

    C    D  E
0   1    4  1
1   2    2  2
2   3    3  3
3   8   99  4
4  12    0  4
5  13   89  5
6  18  100  6

In [162]:
[[column,wiki_movies_df[column].isnull().sum()] for column in wiki_movies_df.columns ]

[['url', 0],
 ['year', 0],
 ['imdb_link', 0],
 ['title', 1],
 ['Based on', 4886],
 ['Starring', 184],
 ['Narrated by', 6794],
 ['Cinematography', 698],
 ['Release date', 32],
 ['Running time', 140],
 ['Country', 239],
 ['Language', 244],
 ['Budget', 2312],
 ['Box office', 1559],
 ['Director', 0],
 ['Distributor', 359],
 ['Editor(s)', 551],
 ['Composer(s)', 519],
 ['Producer(s)', 202],
 ['Production company(s)', 1688],
 ['Writer(s)', 199],
 ['Genre', 6966],
 ['Original language(s)', 6918],
 ['Original network', 6951],
 ['Executive producer(s)', 6979],
 ['Production location(s)', 7029],
 ['Picture format', 7012],
 ['Audio format', 7015],
 ['Voices of', 7074],
 ['Followed by', 7067],
 ['Created by', 7066],
 ['Preceded by', 7066],
 ['Suggested by', 7075],
 ['alt_titles', 7055],
 ['Recorded', 7074],
 ['Venue', 7075],
 ['Label', 7074],
 ['Animation by', 7074],
 ['Color process', 7075],
 ['imdb_id', 0]]

In [163]:
wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]

In [164]:
box_office = wiki_movies_df['Box office'].dropna()

In [166]:
def is_not_a_string(x):
    return type(x) != str

In [168]:
box_office[box_office.map(is_not_a_string)]

34                           [US$, 4,212,828]
54      [$6,698,361 (, United States, ), [2]]
74                    [$6,488,144, (US), [1]]
126                [US$1,531,489, (domestic)]
130                          [US$, 4,803,039]
                        ...
6980               [$99.6, million, [4], [5]]
6994                   [$365.6, million, [1]]
6995                         [$53.8, million]
7015                     [$435, million, [7]]
7048                   [$529.3, million, [4]]
Name: Box office, Length: 136, dtype: object

In [170]:
def is_a_string(x):
    return type(x) == str

In [171]:
box_office[box_office.map(is_a_string)]

0          $21.4 million
1           $2.7 million
2            $57,718,089
3             $7,331,647
4       $6,939,946 (USA)
              ...
7070       $19.4 million
7071       $41.9 million
7072       $76.1 million
7073       $38.4 million
7074        $5.5 million
Name: Box office, Length: 5381, dtype: object

In [172]:
box_office=box_office.apply(lambda x: " ".join(x) if type(x)==list else x)

In [173]:
import re

In [178]:
form_one = r'\$\d+\.?\d*\s*[mb]illion'

In [179]:
box_office.str.contains(form_one, flags=re.IGNORECASE, na=False).sum()

3913

In [176]:
form_two = r'\$\d{1,3}(?:,\d{3})+'
box_office.str.contains(form_two, flags=re.IGNORECASE, na=False).sum()

1559

In [180]:
matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE, na=False)

In [181]:
box_office[~matches_form_one & ~matches_form_two]

34                         US$ 4,212,828
79                              $335.000
110                   $4.35-4.37 million
130                        US$ 4,803,039
600                           $5000 (US)
731                         $ 11,146,270
957                             $ 50,004
1070                          35,254,617
1147    $ 407,618 (U.S.) (sub-total) [1]
1446                        $ 11,829,959
1480                          £3 million
1611                            $520.000
1865                        ¥1.1 billion
2032                                 N/A
2091                                $309
2130               US$ 171.8 million [9]
2257                   US$ 3,395,581 [1]
2263            $ 1,223,034 ( domestic )
2347                            $282.175
2638            $ 104,883 (US sub-total)
2665         926,423 admissions (France)
2697      $ 1.7 million (US) (sub-total)
2823                            $414.000
2924                            $621.000
3088           $32 [2] –33.1 million [1]
3631                                 TBA
3859                  $38.9–40.3 million
3879            CN¥3.650 million (China)
4116                          £7,385,434
4123                            $161.000
4261                  $20.7–23.9 million
4306                              $20-30
4492                        $47.7 millon
4561             $45.2k (only in Turkey)
4662                USD$ 8.2 million [2]
5362                   $ 142 million [3]
5447                               £2.56
5784                            413 733$
6013                             Unknown
6145                  $17.5–18.4 million
6234                  $41.8–41.9 million
6369                               $111k
6370                                $588
6593                      less than $372
6829                    $ 41 million [3]
6843                             8 crore
6904                         $6.9 millon
Name: Box office, dtype: object

In [182]:
box_office = box_office.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [183]:
form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'

In [184]:
form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)'

In [185]:
pattern = '^a...s$'
test_string = 'abyss'
result = re.match(pattern, test_string)

In [186]:
if result:
  print("Search successful.")
else:
  print("Search unsuccessful.")

Search successful.

In [187]:
def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan

    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a million
        value = float(s) * 10**6

        # return value
        return value

    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a billion
        value = float(s) * 10**9

        # return value
        return value

    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

        # remove dollar sign and commas
        s = re.sub('\$|,','', s)

        # convert to float
        value = float(s)

        # return value
        return value

    # otherwise, return NaN
    else:
        return np.nan

In [188]:
wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [196]:
file_dir="C:\\Users\\seidy\\OneDrive\\GWU_Bootcamp\\Module-8\\Movies-ETL\\Class\\"

In [194]:
pd.read_csv("C:/Users/seidy/OneDrive/GWU_Bootcamp/Module-8/Movies-ETL/Class/ratings.csv")

          userId  movieId  rating   timestamp
0              1      110     1.0  1425941529
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
...          ...      ...     ...         ...
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

[26024289 rows x 4 columns]

In [197]:
ratings=pd.read_csv(f'{file_dir}ratings.csv')

In [198]:
ratings.head(4)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546

In [ ]:
wiki_movies_df=wiki_movies_df[column for column in wiki_movies_df.columns if wiki_movies_df[column].notnull()]

In [203]:
y={"C":[1,2,3,8,12, " " ,18], "D":[4,2,3,99, " " ,89,100], "E":[1, " ",3,4,4,5,6]}

In [204]:
y_df=pd.DataFrame(y)

In [205]:
y_df

    C    D  E
0   1    4  1
1   2    2
2   3    3  3
3   8   99  4
4  12       4
5       89  5
6  18  100  6

In [206]:
y_df.dtypes

C    object
D    object
E    object
dtype: object

In [209]:
z_df=[column for column in y_df.columns if y_df[column].notnull()]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [208]:
y_df=[x for x in y_df]

SyntaxError: invalid syntax (Temp/ipykernel_18048/3429576742.py, line 1)

In [212]:
wiki_columns_to_keep=[column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum()==0]

SyntaxError: invalid syntax (Temp/ipykernel_18048/1146999833.py, line 1)

In [215]:
wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() ==0]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]